extends layout

block content
  header
    h1 LOL Commits

    a.credits(href="https://github.com/mroth/lolcommits", title="Lol Commits", targer="_blank") Built with lolcommits

  each item in images
    if ( item != '.DS_Store')
      img(src='/uploads/'+item)